.main-container {
  display: flex;
  height: 100vh;
  margin-left: 280px; /* Mueve el contenido principal al costado del sidebar */
}

.content {
  flex: 1; /* Para que el contenido ocupe el espacio restante */
  padding: 20px;
}

.card {
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-img-top {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.event-details {
  flex: 1;
}

.registration-form {
  width: 30%; /* Ancho del formulario de registro */
  margin-left: 20px; /* Espacio entre el card y el formulario */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
}

.registration-form h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  outline: none;
  border-color: #6cb2eb;
  box-shadow: 0 0 0 0.2rem rgba(108, 178, 235, 0.25);
}

.btn-primary {
  width: 100%; /* Botón de registro ocupa todo el ancho del formulario */
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #45a049;
}
