<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="profile-card">
    <div class="profile-details">
      <div class="left-column">
        <img src="{{ profile?.ProfilePictureUrl }}" class="profile-picture">
      </div>
      <div class="right-column">
        <h2>{{ profile?.FullName }}</h2>
        <p>{{ profile?.Bio }}</p>
        <p><strong>Location: </strong> {{ profile?.Location }}</p>
        <p><strong>Website: </strong> <a href=" {{ profile?.Website }}" target="_blank">{{ profile?.Website }}</a></p>
        <p><strong>Github: </strong> <a href=" {{ profile?.Github }}" target="_blank">{{ profile?.Github }}</a></p>
        <button *ngIf="!profile" (click)="addProfile()">Añadir Perfil</button>
        <button *ngIf="profile" (click)="editProfile()">Editar Perfil</button>
      </div>
    </div>
  </div>
</div>
