<div id="form-container">
  <form>
    <div class="login-container">
      <div class="login-box">
        <div class="logo">
          <br><br>
          <img src="https://logowik.com/content/uploads/images/hash8448.logowik.com.webp">
        </div>
        <div class="input-container">
          <input type="text" placeholder="Email" autofocus  [ngModelOptions]="{standalone: true}" [(ngModel)]="Email">
          <input type="password" placeholder="Ingresa tu Contraseña"  [ngModelOptions]="{standalone: true}" [(ngModel)]="Password">
          <button id="login-button" class="login-button" type="button" (click)="onSubmit()">Iniciar Sesión</button>
          <div class="Recuperate">
            <span><a href="catalogo" style="color: blue; text-decoration: none;"><b>¿Recuperar cuenta?</b></a></span>
            <span><a href="register" style="color: blue; text-decoration: none;"><b>Registrar cuenta</b></a></span>
          </div>
          <div id="errorMessages" class="error-messages" [innerHTML]="errorMessage">{{errorMessage}}</div>
        </div>
      </div>
    </div>
  </form>
</div>
