<div class="sidebar">
  <div class="logo">
    <img src="https://i.postimg.cc/tTQs0fMN/hash-removebg-preview.png" alt="Logo">
  </div>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="#">Explore</a></li>
      <li><a href="/eventos">Eventos</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Bookmarks</a></li>
      <li><a href="#">List</a></li>
      <li><a href="/login" style="color: red; text-decoration: none;">Log Out</a></li>
    </ul>
  </nav>
</div>
