<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div *ngFor="let conference of conferences" class="card">
      <img [src]="conference.image" class="card-img-top" alt="Placeholder Image">
      <div class="overlay">
        <a [routerLink]="['/conferences', conference.id]" class="btn btn-overlay">Ver más</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ conference.name }}</h5>
        <p class="card-text">{{ conference.description }}</p>
        <p class="card-text">{{ conference.price }}</p>
        <a [routerLink]="['/conferences', conference.id]" class="btn btn-primary" style="color: white; text-decoration: none;">Reservar Cupo</a>
      </div>
    </div>
  </div>
  <div class="floating-circle">
    <a href="/newconferences" class="btn btn-circle">+</a>
  </div>
</div>
